:root {
  --background: #ffffff;
  --foreground: #171717;

  --colorsAppBackground: rgb(252, 252, 252);
  --colorsAppBackgroundAlt: rgb(247, 247, 247);
  --colorsBorderDefault: rgb(148, 149, 150);
  --colorsBorderGrey: rgb(223, 224, 225);
  --colorsBorderGreyStrong: rgb(188, 188, 189);
  --colorsBorderPrimary: rgb(2, 101, 220);
  --colorsBorderPrimarySubdued: rgb(181, 222, 255);
  --colorsBorderSecondary: rgb(105, 84, 192);
  --colorsBorderSecondarySubdued: rgb(193, 182, 242);
  --colorsBorderCritical: rgb(225, 50, 18);
  --colorsBorderCriticalSubdued: rgb(255, 178, 160);
  --colorsBorderWarningSubdued: rgb(255, 240, 177);
  --colorsBorderSuccessSubdued: rgb(137, 236, 188);
  --colorsFocusRingPrimary: rgb(120, 187, 250);
  --colorsFocusRingCritical: rgb(255, 178, 160);
  --colorsActiveDefault: rgba(20, 20, 20, 0.2);
  --colorsActiveStrong: rgba(20, 20, 20, 0.4);
  --colorsActivePrimary: rgba(2, 101, 220, 0.3);
  --colorsActiveCritical: rgba(225, 50, 18, 0.3);
  --colorsActiveOnGrey: rgba(20, 20, 20, 0.16);
  --colorsActiveOnPrimary: rgba(20, 20, 20, 0.16);
  --colorsActiveOnCritical: rgba(20, 20, 20, 0.16);
  --colorsHoverDefault: rgba(20, 20, 20, 0.08);
  --colorsHoverSubdued: rgba(68, 68, 69, 0.04);
  --colorsHoverPrimary: rgba(2, 101, 220, 0.1);
  --colorsHoverCritical: rgba(225, 50, 18, 0.1);
  --colorsHoverOnGrey: rgba(20, 20, 20, 0.08);
  --colorsHoverOnPrimary: rgba(255, 255, 255, 0.16);
  --colorsHoverOnCritical: rgba(255, 255, 255, 0.16);
  --colorsStatusCritical: rgb(225, 50, 18);
  --colorsStatusCriticalStrong: rgb(225, 50, 18);
  --colorsStatusInfo: rgb(2, 101, 220);
  --colorsStatusInfoStrong: rgb(2, 101, 220);
  --colorsStatusSuccess: rgb(0, 122, 77);
  --colorsStatusSuccessStrong: rgb(0, 122, 77);
  --colorsStatusWarning: rgb(255, 190, 0);
  --colorsStatusWarningStrong: rgb(255, 190, 0);
  --colorsStatusDefault: rgb(140, 156, 165);
  --colorsSurfaceDefault: rgb(255, 255, 255);
  --colorsSurfaceInverted: rgb(45, 46, 49);
  --colorsSurfaceInvertedStrong: rgb(20, 20, 20);
  --colorsSurfaceGrey: rgb(238, 238, 238);
  --colorsSurfaceGreyStrong: rgb(223, 224, 225);
  --colorsSurfaceGreyStronger: rgb(188, 188, 189);
  --colorsSurfaceGreySubdued: rgb(247, 247, 247);
  --colorsSurfacePrimary: rgb(2, 101, 220);
  --colorsSurfacePrimarySubdued: rgb(224, 242, 255);
  --colorsSurfaceSecondary: rgb(105, 84, 192);
  --colorsSurfaceSecondarySubdued: rgb(241, 237, 255);
  --colorsSurfaceCritical: rgb(225, 50, 18);
  --colorsSurfaceCriticalSubdued: rgb(255, 236, 233);
  --colorsSurfaceSuccessSubdued: rgb(206, 248, 224);
  --colorsSurfaceWarningSubdued: rgb(255, 249, 226);
  --colorsSurfaceDisabled: rgb(96, 97, 98);
  --colorsTextDefault: rgb(20, 20, 20);
  --colorsTextInverted: rgb(255, 255, 255);
  --colorsTextSubdued: rgb(96, 97, 98);
  --colorsTextPrimary: rgb(2, 101, 220);
  --colorsTextPrimarySubdued: rgb(120, 187, 250);
  --colorsTextSecondary: rgb(105, 84, 192);
  --colorsTextSecondarySubdued: rgb(193, 182, 242);
  --colorsTextCritical: rgb(191, 42, 0);
  --colorsTextOnGrey: rgb(68, 68, 69);
  --colorsTextOnGreySubdued: rgb(148, 149, 150);
  --colorsTextOnPrimary: rgb(255, 255, 255);
  --colorsTextOnSecondary: rgb(255, 255, 255);
  --colorsTextOnWarning: rgb(20, 20, 20);
  --colorsTextOnCritical: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
