:root {
  --background: #ffffff;
  --foreground: #171717;

  --colorsAppBackground: rgb(252, 252, 252);
  --colorsAppBackgroundAlt: rgb(247, 247, 247);
  --colorsBorderDefault: rgb(148, 149, 150);
  --colorsBorderGrey: rgb(223, 224, 225);
  --colorsBorderGreyStrong: rgb(188, 188, 189);
  --colorsBorderPrimary: rgb(2, 101, 220);
  --colorsBorderPrimarySubdued: rgb(181, 222, 255);
  --colorsBorderSecondary: rgb(105, 84, 192);
  --colorsBorderSecondarySubdued: rgb(193, 182, 242);
  --colorsBorderCritical: rgb(225, 50, 18);
  --colorsBorderCriticalSubdued: rgb(255, 178, 160);
  --colorsBorderWarningSubdued: rgb(255, 240, 177);
  --colorsBorderSuccessSubdued: rgb(137, 236, 188);
  --colorsFocusRingPrimary: rgb(120, 187, 250);
  --colorsFocusRingCritical: rgb(255, 178, 160);
  --colorsActiveDefault: rgba(20, 20, 20, 0.2);
  --colorsActiveStrong: rgba(20, 20, 20, 0.4);
  --colorsActivePrimary: rgba(2, 101, 220, 0.3);
  --colorsActiveCritical: rgba(225, 50, 18, 0.3);
  --colorsActiveOnGrey: rgba(20, 20, 20, 0.16);
  --colorsActiveOnPrimary: rgba(20, 20, 20, 0.16);
  --colorsActiveOnCritical: rgba(20, 20, 20, 0.16);
  --colorsHoverDefault: rgba(20, 20, 20, 0.08);
  --colorsHoverSubdued: rgba(68, 68, 69, 0.04);
  --colorsHoverPrimary: rgba(2, 101, 220, 0.1);
  --colorsHoverCritical: rgba(225, 50, 18, 0.1);
  --colorsHoverOnGrey: rgba(20, 20, 20, 0.08);
  --colorsHoverOnPrimary: rgba(255, 255, 255, 0.16);
  --colorsHoverOnCritical: rgba(255, 255, 255, 0.16);
  --colorsStatusCritical: rgb(225, 50, 18);
  --colorsStatusCriticalStrong: rgb(225, 50, 18);
  --colorsStatusInfo: rgb(2, 101, 220);
  --colorsStatusInfoStrong: rgb(2, 101, 220);
  --colorsStatusSuccess: rgb(0, 122, 77);
  --colorsStatusSuccessStrong: rgb(0, 122, 77);
  --colorsStatusWarning: rgb(255, 190, 0);
  --colorsStatusWarningStrong: rgb(255, 190, 0);
  --colorsStatusDefault: rgb(140, 156, 165);
  --colorsSurfaceDefault: rgb(255, 255, 255);
  --colorsSurfaceInverted: rgb(45, 46, 49);
  --colorsSurfaceInvertedStrong: rgb(20, 20, 20);
  --colorsSurfaceGrey: rgb(238, 238, 238);
  --colorsSurfaceGreyStrong: rgb(223, 224, 225);
  --colorsSurfaceGreyStronger: rgb(188, 188, 189);
  --colorsSurfaceGreySubdued: rgb(247, 247, 247);
  --colorsSurfacePrimary: rgb(2, 101, 220);
  --colorsSurfacePrimarySubdued: rgb(224, 242, 255);
  --colorsSurfaceSecondary: rgb(105, 84, 192);
  --colorsSurfaceSecondarySubdued: rgb(241, 237, 255);
  --colorsSurfaceCritical: rgb(225, 50, 18);
  --colorsSurfaceCriticalSubdued: rgb(255, 236, 233);
  --colorsSurfaceSuccessSubdued: rgb(206, 248, 224);
  --colorsSurfaceWarningSubdued: rgb(255, 249, 226);
  --colorsSurfaceDisabled: rgb(96, 97, 98);
  --colorsTextDefault: rgb(20, 20, 20);
  --colorsTextInverted: rgb(255, 255, 255);
  --colorsTextSubdued: rgb(96, 97, 98);
  --colorsTextPrimary: rgb(2, 101, 220);
  --colorsTextPrimarySubdued: rgb(120, 187, 250);
  --colorsTextSecondary: rgb(105, 84, 192);
  --colorsTextSecondarySubdued: rgb(193, 182, 242);
  --colorsTextCritical: rgb(191, 42, 0);
  --colorsTextOnGrey: rgb(68, 68, 69);
  --colorsTextOnGreySubdued: rgb(148, 149, 150);
  --colorsTextOnPrimary: rgb(255, 255, 255);
  --colorsTextOnSecondary: rgb(255, 255, 255);
  --colorsTextOnWarning: rgb(20, 20, 20);
  --colorsTextOnCritical: rgb(255, 255, 255);

  /** A2 tokens **/
  --background-color: light-dark(#ffffff, #141414);
  --background-color-strong: light-dark(#f7f7f7, #2d2e31);
  --background-color-stronger: light-dark(#eeeeee, #444445);
  --background-color-strongest: light-dark(#bcbcbd, #737475);
  --background-color-primary: light-dark(#0265dc, #78bbfa);
  --background-color-primary-subdued: light-dark(
    #e0f2ff,
    rgba(120, 187, 250, 0.2)
  );
  --background-color-danger: light-dark(#e13212, #ff745f);
  --background-color-warning: light-dark(#ffbe00, #ffe278);
  --background-color-disabled: light-dark(#606162, #606162);
  --background-color-inverted: light-dark(#2d2e31, #fafafa);
  --background-color-inverted-strong: light-dark(#141414, #ffffff);
  --border-color: light-dark(#949596, #606162);
  --border-color-subdued: light-dark(#dfe0e1, #444445);
  --border-color-strong: light-dark(#444445, #dfe0e1);
  --border-color-primary: light-dark(#0265dc, #78bbfa);
  --border-color-danger: light-dark(#e13212, #ff745f);
  --focus-ring-color: light-dark(#0265dc, #78bbfa);
  --focus-ring-color-danger: light-dark(#e13212, #ff745f);
  --foreground-color: light-dark(#141414, #ffffff);
  --foreground-color-subdued: light-dark(#737475, #bcbcbd);
  --foreground-color-primary: light-dark(#0265dc, #78bbfa);
  --foreground-color-danger: light-dark(#e13212, #ff745f);
  --foreground-color-inverted: light-dark(#ffffff, #141414);
  --foreground-color-on-primary: light-dark(#ffffff, #141414);
  --foreground-color-on-danger: light-dark(#ffffff, #141414);
  --foreground-color-on-warning: light-dark(#141414, #141414);
  --foreground-color-active-primary: light-dark(#004491, #b5deff);
  --foreground-color-active-danger: light-dark(#bf2a00, #ff745f);
  --foreground-color-hover-primary: light-dark(#004491, #b5deff);
  --foreground-color-hover-danger: light-dark(#bf2a00, #ff745f);
  --overlay-color-active: light-dark(
    rgba(20, 20, 20, 0.1607843137),
    rgba(255, 255, 255, 0.1607843137)
  );
  --overlay-color-active-primary: light-dark(
    rgba(2, 101, 220, 0.3019607843),
    rgba(120, 187, 250, 0.2509803922)
  );
  --overlay-color-active-danger: light-dark(
    rgba(225, 50, 18, 0.1803921569),
    rgba(255, 116, 95, 0.2509803922)
  );
  --overlay-color-active-on: light-dark(
    rgba(20, 20, 20, 0.1607843137),
    rgba(20, 20, 20, 0.1607843137)
  );
  --overlay-color-active-on-primary: light-dark(
    rgba(20, 20, 20, 0.4),
    rgba(20, 20, 20, 0.1607843137)
  );
  --overlay-color-active-on-danger: light-dark(
    rgba(20, 20, 20, 0.4),
    rgba(20, 20, 20, 0.1607843137)
  );
  --overlay-color-hover: light-dark(
    rgba(20, 20, 20, 0.0784313725),
    rgba(255, 255, 255, 0.0784313725)
  );
  --overlay-color-hover-primary: light-dark(
    rgba(2, 101, 220, 0.1019607843),
    rgba(120, 187, 250, 0.1019607843)
  );
  --overlay-color-hover-danger: light-dark(
    rgba(225, 50, 18, 0.0588235294),
    rgba(255, 116, 95, 0.1019607843)
  );
  --overlay-color-hover-on: light-dark(
    rgba(20, 20, 20, 0.0784313725),
    rgba(255, 255, 255, 0.0784313725)
  );
  --overlay-color-hover-on-primary: light-dark(
    rgba(20, 20, 20, 0.2),
    rgba(255, 255, 255, 0.1607843137)
  );
  --overlay-color-hover-on-danger: light-dark(
    rgba(20, 20, 20, 0.2),
    rgba(255, 255, 255, 0.1607843137)
  );
  --shadow-color: light-dark(
    rgba(20, 20, 20, 0.0784313725),
    rgba(255, 255, 255, 0.0784313725)
  );
  --shadow-color-hover: light-dark(
    rgba(20, 20, 20, 0.09),
    rgba(255, 255, 255, 0.09)
  );
  --status-color-info: light-dark(#0265dc, #78bbfa);
  --status-color-danger: light-dark(#e13212, #ff745f);
  --status-color-success: light-dark(#007a4d, #49cc93);
  --status-color-warning: light-dark(#ffbe00, #ffe278);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.h-6 {
  height: 24px;
}

.w-6 {
  width: 24px;
}

.fill-default-icon-inverse {
  fill: white;
}

.fill-default-icon-regular {
  fill: black;
}

.flex {
  display: flex;
}

.gap-4 {
  gap: 16px;
}

.justify-center {
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .fill-default-icon-inverse {
    fill: black;
  }

  .fill-default-icon-regular {
    fill: white;
  }
}
